<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Дополнительные стили и скрипты -->
</head>
<body>
  <h1><%= title %></h1>
  <h2><%= subtitle %></h2>
  <p><%= content %></p>
    <!-- Остальная разметка страницы статьи -->
</body>
</html>